/*****  Common *****/
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.hidden {
  /* display: none; */
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

a:hover {
  transition: color 0.1s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  margin: 9px 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently 
    supported by Chrome, Edge, Opera and Firefox */
}

.header-outer {
  width: 100%;
  height: 60px;
  /* background: linear-gradient(90deg, #f0027f, #75489f); */
  background-color: #5d4177;
}

.header-inner {
  display: grid;
  height: 100%;
  justify-content: flex-start;
}

.nav-title {
  margin: auto;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  width: inherit;
  background-color: #300f4d;
}

.nav-title:hover {
  background-color: #f0027f;
}

.nav-links {
  height: 80%;
  /* flex: 0.5; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-links > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  height: 80%;
  /* width: 100%; */
  padding: 0 20px;
  border-top: 0px;
  margin-left: 20px;
}

.nav-links > .main-link {
  background-color: #f0027f;
  margin-right: 10px;
}

.nav-links > a:hover {
  background-color: #9b84b1;
  color: #000;
}

@media (max-width: 600px) {
  .header-outer {
    position: fixed;
  }
  .content {
    padding-top: 60px;
  }
}
