/*****  Common *****/
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

a:hover {
  transition: color 0.1s ease-in-out;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  margin: 9px 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently 
    supported by Chrome, Edge, Opera and Firefox */
}

.container {
  /* margin: 0 auto; */
  height: 90vh;
  padding-left: 30px;
  padding-top: 10px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(430px, 1fr)); */
  grid-template-columns: 1fr auto;
  justify-content: center;
}

.left {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: #eee;
  gap: 10px;
}

.item {
  /* background: yellow; */
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.label {
}

.right {
  background-color: #ddd;
  max-width: 400px;
}