/*****  Common *****/
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #5d4177;
}

.hidden {
  /* display: none; */
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  transition: color 0.1s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently 
  supported by Chrome, Edge, Opera and Firefox */
}

/*****  Header *****/
.header-outer {
  width: 100%;
  height: 60px;
  /* background: linear-gradient(90deg, #f0027f, #75489f); */
  background-color: #5d4177;
}

.header-inner {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 100%;
}

.nav-title {
  font-size: 1.1rem;
  margin-left: 10px;
}

.nav-links {
  justify-self: flex-end;
  margin-right: 10px;
}

.nav-links > a {
  padding: 10px;
}

.nav-links > .main-link {
  background-color: #f0027f;
} 

.nav-links > a:hover {
  background-color: #9b84b1;
  color: #000;
}

/***********Login *********/
.content {
  background: linear-gradient(90deg, #f0027f, #75489f);
  padding-top: 50px;
  border-color: 2px solid #fff;
}

.login-container-inner {
  /* background-color: chartreuse; */
  /* width: 100%; */
  max-width: 500px;
  /* margin: 0 20px; */
}

.login-form {
  display: grid;
  justify-content: center;
  padding: 10px 0 40px 0;
  margin: 0 20px;
  background-color: #fff;
  grid-template-columns: minmax(1fr, 400px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
}

.row {
  color: #5d4177;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
}

input[type="email"], input[type="password"] {
  height: 30px;
  width: 70vw;
  max-width: 400px;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  background: #f0027f;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  outline:none;
  -webkit-appearance: none; 
}

input[type="submit"]:hover {
  background: #5d4177;
}

input[type="submit"]:active {
  background: #714f91;
}

.forgot-password a {
  font-size: 0.7rem;
  color: #714f91;
  float: right;
  padding-bottom: 5px;
  cursor: pointer;
}

.forgot-password a:hover {
  color: #f0027f;
}

.row1 {
  margin: 0;
  padding: 10px 0 0 0;
}

.label {
  /* padding: 0 10px; */
  /* width: 80px; */
  color: #f0027f;
  width: 100%;
  height: 100%;
  background: #5d4177;
  display: grid;
  align-items: center;
}

.content svg {
  display: block;
}

@media (max-width: 600px) {

  .header-outer {
    position: fixed;
  }
  .content {
    padding-top: 110px;
  }
}