@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #999;
}

.container {
  font-family: "Poppins", sans-serif;
  margin: auto;
  text-decoration: none !important;
  list-style: none !important;
}

.header {
  height: 50px;
  background: linear-gradient(90deg, #f0027f, #75489f);
  border: 1px solid black;
}

/* TODO: Remove */
.remove {
  height: 300px;
}

.content-inner {
  max-width: 1200px !important;
  margin: auto;
  height: 100%;
  padding-left: 10px;
}

.header-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.logo {
  font-size: 1.2em;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.content {
  background: linear-gradient(90deg, #f0027f, #75489f);
}

.content svg {
  display: block;
}

.middle-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 50px;
  padding-top: 20px;
  column-gap: 20px;
  justify-items: center;
}

.card1 {
  background: url("../../../assets/resume-template/resume1.jpg");
}

.card2 {
  background: url("../../../assets/resume-template/resume2.jpg");
}

.card3 {
  background: url("../../../assets/resume-template/resume3.jpg");
}

.card4 {
  background: url("../../../assets/resume-template/resume4.jpg");
}

.card5 {
  background: url("../../../assets/resume-template/resume5.jpg");
}

.card6 {
  background: url("../../../assets/resume-template/resume6.jpg");
}

.card7 {
  background: url("../../../assets/resume-template/resume7.jpg");
}

.card8 {
  background: url("../../../assets/resume-template/resume8.jpg");
}

.card9 {
  background: url("../../../assets/resume-template/resume9.jpg");
}

.card10 {
  background: url("../../../assets/resume-template/resume10.jpg");
}

.card11 {
  background: url("../../../assets/resume-template/resume11.jpg");
}

.card {
  background-size: cover;
  width: 300px;
  height: 400px;
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.sub-heading {
  font-size: 1.2rem;
  font-weight: 500;
  /* padding-top: 10px; */
  margin-top: 1px;
}
